DATABASE_URL="postgresql://postgres:postgres@localhost:5432/zenixblox?schema=public"
AUTH_SECRET="troque-por-uma-chave-grande-com-pelo-menos-32-caracteres"
APP_URL="http://localhost:3000"
SEED_ADMIN_EMAIL="admin@zenixblox.com"
SEED_ADMIN_PASSWORD="ZenixBlox@123"
